/* Error: Can't find stylesheet to import.
 *    ,
 * 65 | @import 'util/util';
 *    |         ^^^^^^^^^^^
 *    '
 *   app/assets/stylesheets/_settings.scss 65:9                @import
 *   app/assets/stylesheets/foundation_and_overrides.scss 3:9  @import
 *   app/assets/stylesheets/application.sass.scss 3:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 65 \2502  @import 'util/util';\a    \2502          ^^^^^^^^^^^\a    \2575 \a   app/assets/stylesheets/_settings.scss 65:9                @import\a   app/assets/stylesheets/foundation_and_overrides.scss 3:9  @import\a   app/assets/stylesheets/application.sass.scss 3:9          root stylesheet";
}
